<style>
    h1 {
        color: #111;
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 38px;
        font-weight: bold;
    }

    .card {
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .btn-primary {
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
    }

    .btn-primary:hover {
        background-color: #45a049;
    }
</style>
<div>
    <h1 style="font-weight: 900;">Compras</h1>
        <div class="card">
            <div class="header">
                <h4><b>Lista de Pedidos de Compra</b></h4>
                <a href="#" class="btn-primary">Realizar compra</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Estado Pedido</th>
                        <th scope="col">Fecha Pedido</th>
                    </tr>
                    </thead>
                    <tbody>
                        
                        <tr *ngFor="
                                                let pedidoCompra of pedidoCompraArray
                                                | paginate : { itemsPerPage: 10, currentPage: page };
                                                let i = index
                                              ">
                            <td>{{ pedidoCompra.codigoCompra }}</td>
                            <td>{{ pedidoCompra.proveedor.razonSocial }}</td>
                            <td>{{ pedidoCompra.estadoPedido.descripcion }}</td>
                            <td>{{ pedidoCompra.fechaPedido | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                            <td>
                                <button style="margin-right: 30px" (click)="showComprobanteCompra(pedidoCompra.idPedidoCompra)">Ver comprobante</button>
                                <button (click)="showDetallePedido(pedidoCompra.idPedidoCompra)">Ver detalle</button>
                            </td>
                        </tr>
                    </tbody>
                    
                    </table>                  
                    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente">
                        </pagination-controls>
                        
    </div>
</div>
        