<div class="cotizaciones-container">
  <h2 class="titulo-cotizaciones">Mis Cotizaciones</h2>
  <table *ngIf="!loading && cotizaciones.length > 0" class="tabla-cotizaciones">
    <thead>
      <tr>
        <th>Cotización</th>
        <th>Fecha de Emisión</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of cotizaciones; let i = index">
        <td>{{ c.codigoCotizacion }}</td>
        <td>{{ c.fechaEmision | date:'yyyy-MM-dd HH:mm' }}</td>
        <td>{{ c.estadoCotizacion?.descripcion || 'Desconocido' }}</td>
        <td>
          <button class="btn btn-primary" (click)="mostrarDetalles(i)">+ Detalles</button>
          <button class="btn btn-secondary"
            [disabled]="c.estadoCotizacion?.descripcion !== 'Entregada'"
            (click)="abrirModalPedido(c)"> Realizar pedido
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="loading">Cargando cotizaciones...</div>
  <div *ngIf="!loading && cotizaciones.length === 0">No tienes cotizaciones registradas.</div>
  <div *ngIf="error">{{ error }}</div>
</div>