#banner {
    background-image: "images/home_bg.jpeg";
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
#home_categories{
    margin-left: 15px; 
    margin-top: 15px;
}