<div class="trabajadores-container">
  <h2 class="titulo-lista"><b>Lista de Trabajadores</b></h2>
  <div class="card-lista">
    <div class="header-lista">
      <input class="input-buscar" placeholder="Buscar por nombre, DNI, etc." />
      <button class="btn-buscar">Buscar</button>
    </div>
    <table class="tabla-trabajadores">
      <thead>
      <tr>
      <th>Nombre</th>
      <th>Tipo de Doc.</th>
      <th>Numero de Doc.</th>
      <th>Cargo</th>
      <th>Sueldo</th>
      <th>Moneda</th>
      <th>Estado del contrato</th>
      <th>Más info</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let emp of trabajadores">
      <td>{{ emp.nombreCompleto }}</td>
      <td>{{ emp.tipoDocumento }}</td>
      <td><b>{{ emp.numeroDocumento }}</b></td>
      <td>{{ emp.cargo }}</td>
      <td>{{ emp.sueldo }}</td>
      <td>{{ emp.moneda }}</td>
      <td>{{ emp.estadoContrato }}</td>
      <td><button type="button" class="btn-info" [routerLink]="['/sistema/trabajadores', emp.idTrabajador]">Más info</button></td>
      </tr>
      </tbody>
    </table>
    <div class="footer-lista">
      <button class="btn-planilla">Generar planilla</button>
      <button type="button" class="btn-agregar" [routerLink]="['/sistema/trabajadores/nuevo']">+</button>
    </div>
  </div>
</div>
<div *ngIf="!loading && !error && pieChartOptions.series && pieChartOptions.series.length > 0">
  <apx-chart 
    [series]="pieChartOptions.series"
    [chart]="pieChartOptions.chart"
    [labels]="pieChartOptions.labels"
    [responsive]="pieChartOptions.responsive"
    [legend]="pieChartOptions.legend"
    [title]="pieChartOptions.title">
  </apx-chart>
</div>