<div class="form-container">
  <h2>Información de Trabajador</h2>
  <form [formGroup]="trabajadorForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <label>Nombres</label>
      <input formControlName="nombres" />
      <label>Apellidos</label>
      <input formControlName="apellidos" />
    </div>
    <div class="row">
      <label>Tipo de Doc.</label>
      <select formControlName="tipoDocumento">
        <option [value]="1">DNI</option>
        <option [value]="2">CE</option>
      </select>
      <label>Num. de Doc.</label>
      <input formControlName="numeroDocumento" />
    </div>
    <div class="row">
      <label>Correo electrónico</label>
      <input formControlName="emailContacto" type="email" />
      <label>Tipo de Trabajador</label>
      <select formControlName="tipoTrabajador">
        <option [value]="1">Almacén</option>
        <option [value]="2">Administrativo</option>
        <option [value]="3">Transportista</option>
        <option [value]="4">Ventas</option>
      </select>
    </div>
    <div class="row">
      <label>Fecha de Inicio</label>
      <input type="date" formControlName="fechaInicioContrato" />
      <label>Fecha de Fin</label>
      <input type="date" formControlName="fechaFinContrato" />
    </div>
    <div class="row">
      <label>Monto de sueldo</label>
      <input formControlName="sueldo" />
    </div>
    <div class="row">
      <label>Tipo de Moneda</label>
      <input formControlName="moneda" value="Soles" readonly />
    </div>
    <div class="acciones">
      <button type="button" (click)="cancelar()" class="btn-cancelar">Cancelar</button>
      <button type="submit" class="btn-registrar">{{ isEdit ? 'Actualizar' : 'Registrar' }}</button>
    </div>
  </form>
</div>