<div class="empleados-container">
  <h2 class="titulo-lista"><b>Lista de Empleados</b></h2>
  <div class="card-lista">
    <div class="header-lista">
      <input class="input-buscar" placeholder="Buscar por nombre, DNI, etc." />
      <button class="btn-buscar">Buscar</button>
    </div>
    <table class="tabla-empleados">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Tipo de Doc.</th>
          <th>Numero de Doc.</th>
          <th>Cargo</th>
          <th>Sueldo</th>
          <th>Moneda</th>
          <th>Estado del contrato</th>
          <th>Más info</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of empleados">
            <td>{{ emp.nombreCompleto }}</td>
            <td>{{ emp.tipoDocumento }}</td>
            <td><b>{{ emp.numeroDocumento }}</b></td>
            <td>{{ emp.cargo }}</td>
            <td>{{ emp.sueldo }}</td>
            <td>{{ emp.moneda }}</td>
            <td>{{ emp.estadoContrato }}</td>
        </tr>
      </tbody>
    </table>
    <div class="footer-lista">
      <button class="btn-planilla">Generar planilla</button>
      <button class="btn-agregar">+</button>
    </div>
  </div>
</div>