<div class="reporte-comercial-container" *ngIf="!loading; else loadingTpl">
  <div class="grafico-section">
    <apx-chart
      [series]="barSeries"
      [chart]="barChartDetails"
      [xaxis]="barXAxis"
      [title]="barTitle">
    </apx-chart>
  </div>
  <div class="grafico-section">
    <apx-chart
      [series]="pieSeries"
      [labels]="pieLabels"
      [chart]="pieChartDetails"
      [title]="pieTitle"
      [legend]="pieLegend"
      [responsive]="pieResponsive">
    </apx-chart>
  </div>
  <div class="grafico-section">
  <apx-chart
    [series]="productosMasVendidosSeries"
    [chart]="productosMasVendidosChart"
    [xaxis]="productosMasVendidosXAxis"
    [title]="productosMasVendidosTitle"
    [plotOptions]="productosMasVendidosPlotOptions">
  </apx-chart>
</div>
</div>
<ng-template #loadingTpl>
  <div class="loading">
    <span>Cargando reporte comercial...</span>
  </div>
</ng-template>